langchain_openai
langchain_huggingface
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
sentence-transformers
wikipedia
arxiv
langchainhub
groq
langchain-groq